
      html, body {
        width: 100%;
        height: 100%;
        background-color: black;
        color: white;
        font-family: Arial;
        font-weight: lighter;
        cursor: default;
      }

      #narContainer {
          margin-bottom: -25%;
          width: 65%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          overflow: noe;
      }

      #helpCite {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      #helpCite .vertDiv {
        height: 20px;
        margin-right: 40%;
      }

      #cite {
        font-size: 150%;
        margin-right:50%;
      }

      #narContainer P {
        font-size: 110%;
        overflow: hidden;
        font-weight: bold;
        color: white;
        background-color: rgba(0, 0, 0, 0.2);
      }

      .linees {
        width:  1%;
        margin-right: 10px;
        margin-left: 10px;
        height: 0px;
        border: solid 1px white;
      }

      #contentContainer {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        position: fixed;
        top: 0px;
        left: 0px;
      }

      #bgContainer {
          position: absolute;
          height: 100%;
          width: 100%;
          background-image: url("warBg.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          z-index: 0;
          filter: blur(4px) brightness(0.9);
      }

      #topBar {
          width: 90%;
          height: 10%;
          font-size: 140%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: white;
      }

      #bkBtn  {
      }

      #help {
        font-size: 150%;
        font-family: sans-serif;
      }

      .optn:hover, #bkBtn:hover, #help:hover, .continueButton:hover, #cite:hover {
        color: red;
      }

      .hidden {
        visibility: hidden;
      }

      #btnsContainer {
        width: 60%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .optn {
          width: 30%;
          margin: 3%;
          text-align: center;
      }

      .vertDiv {
        width: 0px;
        height: 40%;
        border: solid 1px white;
      }

      #citeView {
        height: 30%;
        width: 50%;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 2%;
        font-size: 140%;
        display: flex;
        flex-direction: column;
        align-items:center;
        text-align: center;
        position: absolute;
        top: 20%;
        left: 25%;
        z-index: 999;
      }

      em {
        font-size: 60%;
      }

      #helpView {
        position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 60%;
          width: 50%;
          top: 20%;
          left: 25%;
          z-index: 999;
      }

      #helpContent {
        height: 80%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 2%;
        font-size: 140%;
        display: flex;
        flex-direction: column;
        align-items:center;
        text-align: center;
      }

      #helpBtns {
        height: 20%;
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      #helpBtns .optn {
        width: 70%;
        font-size: 50%;
      }

      .continueButton {
        margin-top: 1%;
        width: 100%;
        height: 15%;
        background-color:rgba(0, 0, 0, 0.4);
        border-radius: 5%;
        display: flex;
        align-items:center;
        justify-content: center;
        text-align: center;
      }

      #helpView p {
        width: 80%;
        margin: auto;
      }


      /* TODO: Use a single class for helpView and WarningView */
      #warningView p {
        width: 80%;
        font-size: 80%;
        margin: auto;
      }

      #warningView {
        position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 60%;
          width: 50%;
          top: 20%;
          left: 25%;
          z-index: 999;
      }

      #warningContent {
        height: 80%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 2%;
        font-size: 140%;
        display: flex;
        flex-direction: column;
        align-items:center;
        text-align: center;
      }
